
/* simply assign the value */ 
$body-bg: #eeeeee;

// $primary: #30576D;
$primary:#30576D;
$secondary:#828282;
$danger: #DB3B2A;

$warning: #FFD769;
$success: #44BA96;
$info: #05A1BA;
$dark: #1C3441;
