<div class="jumbotron bg-dark text-white">
    <h1 class="display-4">Mono-Repo Exploration for APC</h1>
    <div class="pl-5">
        <!-- <p class="lead">Exploration of Mono-Repo structure.</p> -->
        <br>
        <ul>
            <li>Explore the aventages of Mono-Repo structure for large scale web applications</li>
            <li>Explore features of NX.DEV tooling for Mono-Repo Angular Projects</li>
            <li>Explore Angular Materal UI Components set</li>
            <li>Explore NG Bootstrap UI components set</li>
            <li>Explore other dev utilities and helpers</li>
        </ul>
    </div>
</div>