.dashboard-card {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 3px;
    bottom: 3px;
}

.mat-card-header-text {
    margin: 0 50px;
}

//Remove title margins
::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0px !important; // for example to remove the margin
}

.jumbotron{
    
    padding: 2rem 2rem;
    ul{
        font-size: 16px;
        line-height: 30px;
    }
}
